# Pandas: Inspecteren & basishandelingen
- Voer onderstaande cel uit om het sales dataframe aan te maken.

In [1]:
import pandas as pd
import numpy as np
sales = pd.read_csv('sales data-set.csv')

## 1 Inspecteren 
- Toon de eerste 5 rijen van sales.

In [2]:
sales.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  05/02/2010      24924.50      False
1      1     1  12/02/2010      46039.49       True
2      1     1  19/02/2010      41595.55      False
3      1     1  26/02/2010      19403.54      False
4      1     1  05/03/2010      21827.90      False

- Verander de 'Date' kolom in de internationale standaard voor datum en tijd. 
- Toon de eerste 5 rijen opnieuw.

In [17]:
sales["Date"] = pd.to_datetime(sales["Date"], infer_datetime_format=True)
sales.head()

   Store  Dept       Date  Weekly_Sales  IsHoliday  year
0      1     1 2010-05-02      24924.50      False  2010
1      1     1 2010-12-02      46039.49       True  2010
2      1     1 2010-02-19      41595.55      False  2010
3      1     1 2010-02-26      19403.54      False  2010
4      1     1 2010-05-03      21827.90      False  2010

- Toon informatie over het datatype van iedere kolom.
- Zijn er kolommen die 'lege-waardes' bevatten?

In [4]:
sales.info()
print(sales.isna().sum())
print("\nEr zijn geen kolommen met lege waardes")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  datetime64[ns]
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2)
memory usage: 13.3 MB
Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
dtype: int64

Er zijn geen kolommen met lege waardes

- Toon het aantal rijen en kolommen.

In [5]:
sales.shape

(421570, 5)

- Toon een overzicht waarin de basisstatistieken van het dataframe worden getoond.
- Wat valt je op aan het minimum van 'Weekly_Sales'? Hoe kan dit zijn ontstaan?
- Wat is de hoogste omzet volgens dit overzicht?
- Leg aan de hand van dit overzicht uit wat 25%, 50% en 75% betekenen.

In [6]:
sales.describe()
print("Wat opvalt is dat het een negatief getal is. Dat kan zijn ontstaan door een invoerfout")
print("De hoogste omzet is 693099360000")
print("Dat is de verdeling van de waardes verdeeld door de dataset in vieren te delen.")

Wat opvalt is dat het een negatief getal is. Dat kan zijn ontstaan door een invoerfout
De hoogste omzet is 693099360000
Dat is de verdeling van de waardes verdeeld door de dataset in vieren te delen.

## 2 Componenten van een dataframe
- Print een Numpy array met daarin de eerste 20 rijen van het dataframe.

In [7]:
print(sales[0:20].values)

[[1 1 Timestamp('2010-05-02 00:00:00') 24924.5 False]
 [1 1 Timestamp('2010-12-02 00:00:00') 46039.49 True]
 [1 1 Timestamp('2010-02-19 00:00:00') 41595.55 False]
 [1 1 Timestamp('2010-02-26 00:00:00') 19403.54 False]
 [1 1 Timestamp('2010-05-03 00:00:00') 21827.9 False]
 [1 1 Timestamp('2010-12-03 00:00:00') 21043.39 False]
 [1 1 Timestamp('2010-03-19 00:00:00') 22136.64 False]
 [1 1 Timestamp('2010-03-26 00:00:00') 26229.21 False]
 [1 1 Timestamp('2010-02-04 00:00:00') 57258.43 False]
 [1 1 Timestamp('2010-09-04 00:00:00') 42960.91 False]
 [1 1 Timestamp('2010-04-16 00:00:00') 17596.96 False]
 [1 1 Timestamp('2010-04-23 00:00:00') 16145.35 False]
 [1 1 Timestamp('2010-04-30 00:00:00') 16555.11 False]
 [1 1 Timestamp('2010-07-05 00:00:00') 17413.94 False]
 [1 1 Timestamp('2010-05-14 00:00:00') 18926.74 False]
 [1 1 Timestamp('2010-05-21 00:00:00') 14773.04 False]
 [1 1 Timestamp('2010-05-28 00:00:00') 15580.43 False]
 [1 1 Timestamp('2010-04-06 00:00:00') 17558.09 False]
 [1 1 Timestamp('2010-11-06 00:00:00') 16637.62 False]
 [1 1 Timestamp('2010-06-18 00:00:00') 16216.27 False]]

- Print de kolomnamen van sales.

In [8]:
sales.columns

Index(['Store', 'Dept', 'Date', 'Weekly_Sales', 'IsHoliday'], dtype='object')

- Print de index van sales.

In [9]:
sales.index

RangeIndex(start=0, stop=421570, step=1)

## 3 Sorteren
- Sorteer sales op datum in oplopende volgorde en sla dit op als het dataframe sales_date.
- print de eerste 10 rijen van sales_date.

In [10]:
sales_date = sales.sort_values("Date")
sales_date.head(10)

        Store  Dept       Date  Weekly_Sales  IsHoliday
320135     33    96 2010-01-10       7854.09      False
166671     17    93 2010-01-10       3533.76      False
292156     30    85 2010-01-10         43.92      False
292297     30    87 2010-01-10        119.80      False
84936       9    55 2010-01-10       6795.58      False
390622     41    96 2010-01-10       2905.89      False
292440     30    90 2010-01-10      32268.59      False
138297     15     2 2010-01-10      25178.84      False
17062       2    56 2010-01-10       3734.26      False
292583     30    91 2010-01-10      33209.37      False

## 4 Selecteren van kolommen
- Maak een nieuw dataframe sales_holiday waarin alleen deze kolommen staan: Date en IsHoliday.
- Toon de eerste 5 rijen.

In [11]:
sales_holiday = sales[["Date", "IsHoliday"]]
sales_holiday.head()

        Date  IsHoliday
0 2010-05-02      False
1 2010-12-02       True
2 2010-02-19      False
3 2010-02-26      False
4 2010-05-03      False

## 5 Selecteren op datum
- Toon een nieuw dataframe sales_holiday_2011 dat alleen regels uit 2011 bevat.

In [12]:
sales_holiday_2011 = sales_holiday[(sales_holiday["Date"] >= "2011/01/01") & (sales_holiday["Date"] <= "2011/12/31")]
sales_holiday_2011.head()

         Date  IsHoliday
48 2011-07-01      False
49 2011-01-14      False
50 2011-01-21      False
51 2011-01-28      False
52 2011-04-02      False

## 6 Selecteren op meerdere criteria
- Toon een nieuw dataframe holiday_2011_q4 waarin alleen de verkopen van het vierde kwartaal van 2011 staan die plaats vonden tijdens een vakantie (IsHoliday)

In [13]:
holiday_2011_q4 = sales_holiday_2011[(sales_holiday_2011["Date"] >= "2011/10/01") & (sales_holiday_2011["IsHoliday"] == True)]
holiday_2011_q4.head()

          Date  IsHoliday
53  2011-11-02       True
94  2011-11-25       True
99  2011-12-30       True
196 2011-11-02       True
237 2011-11-25       True

## 7 Selecteren met categoriale variabelen.
- Maak de list st1_5 met daarin de getallen 1 tot en met 5.
- Toon een nieuw dataframe sales_1_5 waarin alleen de rijen uit sales van de winkels (Store) 1 tot en met 5 worden getoond. Gebruik hierbij st1_5.

In [14]:
st1_5 = [1, 2, 3, 4, 5]
sales_1_5 = sales[sales["Store"].isin(st1_5)]
sales_1_5.head()

   Store  Dept       Date  Weekly_Sales  IsHoliday
0      1     1 2010-05-02      24924.50      False
1      1     1 2010-12-02      46039.49       True
2      1     1 2010-02-19      41595.55      False
3      1     1 2010-02-26      19403.54      False
4      1     1 2010-05-03      21827.90      False

## 8 Nieuwe kolom maken
- De dataframe method .dt kan worden gebruikt om het jaar van een datum te bepalen. Zoek op het internet om uit te vinden hoe dit werkt. 
- Maak de nieuwe kolom 'Year' in sales waarin het jaar wordt getoond.

In [15]:
sales["year"] = sales["Date"].dt.year
sales.head()

   Store  Dept       Date  Weekly_Sales  IsHoliday  year
0      1     1 2010-05-02      24924.50      False  2010
1      1     1 2010-12-02      46039.49       True  2010
2      1     1 2010-02-19      41595.55      False  2010
3      1     1 2010-02-26      19403.54      False  2010
4      1     1 2010-05-03      21827.90      False  2010

## 9 Integratie.
- Maak het nieuwe dataframe sales_75. Dit dataframe bevat alleen de rijen die voldoen aan de volgende voorwaarden:
    - De omzet (Weekly_Sales) zit in het 75e percentiel.
    - De verkopen vonden plaats tijdens een vakantieweek (IsHoliday) in 2010.
- Sorteer de rijen op omzet (Weekly_Sales) in aflopende volgorde.

In [16]:
sales.sort_values("Weekly_Sales", ascending =False)
sales_75 = sales[(sales["IsHoliday"] == True) &
                 (sales["year"] == 2010) &
                 (sales["Weekly_Sales"].quantile() >= 75)]

display(sales_75)

        Store  Dept       Date  Weekly_Sales  IsHoliday  year
1           1     1 2010-12-02      46039.49       True  2010
31          1     1 2010-10-09      18194.74       True  2010
42          1     1 2010-11-26      18820.29       True  2010
47          1     1 2010-12-31      19124.58       True  2010
144         1     2 2010-12-02      44682.74       True  2010
...       ...   ...        ...           ...        ...   ...
421339     45    97 2010-12-31       5881.22       True  2010
421436     45    98 2010-12-02        553.25       True  2010
421458     45    98 2010-10-09         80.00       True  2010
421469     45    98 2010-11-26        335.33       True  2010
421474     45    98 2010-12-31         74.55       True  2010

[11774 rows x 6 columns]