# Introduction to Python 1

In [1]:
## 1. Python als rekenmachine

### 1.1 Rekenkundige symbolen

# Toon het resultaat van:
# - 8 maal 10
# - 10 tot de derde macht
# - 300 min 25 maal 10 (controleer of de rekenregels goed worden toegepast)

# Gebruik de 3 onderstaande cellen voor je oplossingen.

In [2]:
print(8 * 10)

80

In [3]:
print(10 ** 3)

1000

In [4]:
print(300 - 25 * 10)

50

### 1.2 Printen van resultaten

Gebruik de print functie om het resultaat van onderstaande berekeningen te tonen in 1 cel:
- 8 maal 10
- 10 tot de derde macht
- 300 min 25 maal 10 (controleer of de rekenregels goed worden toegepast)

In [5]:
print(str(8*10) + " " + str(10 ** 3) + " " + str((300 - 25) * 10))

80 1000 2750

- Wat gebeurt er als je een hashtag (#) voor 1 van de print statements zet?
Dan wordt de regel als comment gemarkeerd en wordt de code niet uitgevoerd.

### 1.3 Rekensymbolen
- Vermenigvuldigen: *
- Delen: /
- Modulo: %
- Exponent: **

Gebruik de print functie om antwoord te geven op onderstaande vragem:
- Hoeveel is 7 modulo 2?
- Hoeveel is 9 modulo 3?
- Hoeveel 11 modulo 3?

In [6]:
print(11 % 3)

2

- Leg in onderstaande cel in je eigen woorden uit wat modulo is.

In [7]:
# Jouw antwoord: 

print("Modulo is het verschil met 0 van het overblijfsel als je het eerste getal deelt door het meest dichtbijzijnde getal onder het tweede getal, waarbij er een heel getal uitkomt.")

Modulo is het verschil met 0 van het overblijfsel als je het eerste getal deelt door het meest dichtbijzijnde getal onder het tweede getal, waarbij er een heel getal uitkomt.

### 1.4 Financiele rekenkunde

Stel je hebt $100 en je kunt dit investeren met een rendement van 10% per jaar. Na 1 jaar heb je dan 100 x 1,1 = 110 dollar. Na 2 jaar is dit 100 x 1,1 x 1,1= 121 dollar.
- Print in onderstaande cel hoeveel geld je hebt na 7 jaar.

In [8]:
print("Na 7 jaar heb je $" + str(round((100 * 1.1 ** 7), 2)) + ".")

Na 7 jaar heb je $194.87.

## 2. Variabelen en types
### 2.1 Variabelen

- Definieer de volgende variabelen en wijs er waarden aan toe:

quantity:
de verkochte hoeveelheid is 1000.

price:
de verkoopprijs is 3.65

turnover:
de omzet is de verkoopprijs maal de hoeveelheid.

- Gebruik de variabelen om de omzet te printen.

In [9]:
quantity = 1000
price = 3.65
turnover = quantity * price

### 2.2 Naamgevingsconventies
- Wat zijn de belangrijkste 'conventies' voor namen van variabelen?
- Waarom is het belangrijk om je aan de conventies te houden?

In [10]:
# Antwoord:
print("- Een naam van een variabele begint met een letter of een underscore\n\
- Een naam van een variabele begint met een kleine letter\n\
- Een naam van een variabele geeft duidelijkheid over wat de variabele inhoudt.\n\
- Het is belangrijk om aan de conventies te houden zodat de code makkelijk en efficiënt te lezen is voor als anderen de code lezen of bewerken.")

- Een naam van een variabele begint met een letter of een underscore
- Een naam van een variabele begint met een kleine letter
- Een naam van een variabele geeft duidelijkheid over wat de variabele inhoudt.
- Het is belangrijk om aan de conventies te houden zodat de code makkelijk en efficiënt te lezen is voor als anderen de code lezen of bewerken.

- Voer de code in onderstaande cel uit. Het resultaat is 10 omdat dat het hoogste getal in de reeks is. 
- Verwijder nu de hashtag voor max = 15 en voer de cel nogmaals uit. Wat gebeurt er?

In [11]:
#max = 15
highest = max([8,3,10])
print(highest)

10

- Je moet nu de kernel herstarten om ervoor te zorgen dat max() weer werkt.

### 2.3 Financiele rekenkunde met variabelen
Hierboven deed je de volgende opgave:
Stel je hebt $100 en je kunt dit investeren met een rendement van 10% per jaar. Na 1 jaar heb je dan 100 x 1,1 = 110 dollar. Na 2 jaar is dit 100 x 1,1 x 1,1= 121 dollar. Bepaal hoeveel geld je hebt na 7 jaar.

- Print het resultaat opnieuw maar maak nu gebruik van de volgende variabelen: savings, multiplier, years and result

In [12]:
savings = 100
multiplier = 1.1
years = 7
result = round(savings * multiplier ** years, 2)
print("Na 7 jaar heb je $" + str(result) + ".")

Na 7 jaar heb je $194.87.

### 2.4 Types
- Pas de functie type() toe om te bepalen welke datatype savings, multiplier, years en result hebben.
- Print de resultaten.

In [13]:
print(type(savings), type(multiplier), type(years), type(result))

<class 'int'> <class 'float'> <class 'int'> <class 'float'>

- Wat is het verschil tussen integers en floats

Antwoord: Een integer is een getal zonder decimaal, een float een getal met een decimaal.

- Maak variabelen met je naam en je geslacht. Bijvoorbeeld:

my_name = "Erik van den Ham"  
male = True

- Print de types van beide variabelen.

In [14]:
name = "Nithin Ramdin"
male = True

- Leg in onderstaande cel uit wat de volgende types zijn: string, float, integer and Boolean.

In [15]:
print("Een string is een set van unicode karakters. Een float is een getal met een decimaal. Een integer is een getal zonder decimaal en een Boolean is een variabele dat alleen de waarde True of False kan aannemen.")

Een string is een set van unicode karakters. Een float is een getal met een decimaal. Een integer is een getal zonder decimaal en een Boolean is een variabele dat alleen de waarde True of False kan aannemen.

Soms zijn getallen opgeslagen als strings. De variabele number bevat de string "123:.
- Zet de string om in een integer.
- Print het type van number.

In [16]:
number = "123"
number = int(number)
print(type(number))

<class 'int'>

### 2.5 Bewerkingen met strings
- Zet de variabele number weer om in een string.
- Maak de variabele add_number die de optelsom van number plus number bevat.
- Print add_number.

In [17]:
add_number = number + number
print(add_number)

246

Je ziet hier dat de '+ operator' zich anders gedraagt bij een string dan bij een integer of float.

### 2.6 Printen van combinaties van verschillende data types.

Om variabelen met meerdere types te kunnen printen met 1 print functie, zul je alle variabelen moeten omzetten naar een string. 
Met + kun je vervolgens de variabelen samenvoegen. In opdracht 2.4 heb je de volgende variabelen gemaakt: my_name and male. Deze variabelen hebben een verschillend data type. 

- Print onderstaande tekst gebruikmakend van beide variabelen. Vervang de naam door jouw naam. 

My name is Erik van den Ham and I am a man. This is: True

In [18]:
# hint: print('My name is "+ my_name + _______________________ ")
print("My name is " + name + " and I am a male" + ". This is: " + str(male))

My name is Nithin Ramdin and I am a male. This is: True

### 2.7 Integratie opdracht

In deze module zullen we vaak een dataset gebruiken waarmee je winkelomzet kunt voorspellen. Voor nu gebruiken we een deel van deze dataset om te oefenen met wat je net hebt geleerd.

**Data:**  
Roger is the store manager of store number 1 in Swinton that has a floor space of 18526  
Ella is the store manager of store number 2 in Stamford that has a floor space of 18569  
Valentina is the store manager of store number 3 in Skipton that has a floor space of 12288  

Opdracht:
- Maak variabelen voor de store managers, plaatsen en winkeloppervlaktes (floor spaces). In totaal gaat het om 9 variabelen.
- Maak ook een variabele met daarin het aantal winkels (3).
- Maak gebruik van de variabelen om de gemiddelde winkeloppervlakte (floor space) te berekenen. Wijs het resultaat toe aan een variabele.
- Print het type van 1 van de store manager variabelen en van 1 van de oppervlakte variabelen.
- Print het volgende met behulp van de variabelen: "Roger is the store manager of the store in Swinton that has a floor space of 18526".

In [19]:
# variables:
store_manager_swinton = "Roger"
store_manager_stamford = "Ella"
store_manager_skipton = "Valentina"
store_location_swinton = "Swinton"
store_location_stamford = "Stamford"
store_location_skipton = "Skipton"
floor_space_swinton = 18526
floor_space_stamford = 18569
floor_space_skipton = 12288
total_stores = 3

# data type
print(type(store_manager_skipton))
print(type(floor_space_skipton))

# calculate and print the average floor space:
avg_floor_space = (floor_space_swinton + floor_space_stamford + floor_space_skipton) / total_stores

# Print sentence:
print(store_manager_swinton + " is the store manager of the store in " + 
      store_location_swinton + " that has a floor space of " + str(floor_space_swinton))

<class 'str'>
<class 'int'>
Roger is the store manager of the store in Swinton that has a floor space of 18526