# Introduction to Python 2

## 1. Aanmaken lists
### 1.1 Lists met 1 datatype


- Wijs de winkeloppervlaktes (floor space) van onderstaande variabelen toe aan de list fl_sp.
- Print fl_sp.

In [1]:
swinton = 18526
stamford = 18569
skipton = 12288
stratton = 17092
shepperton = 11307

fl_sp = [swinton, stamford, skipton, stratton, shepperton]
print(fl_sp)

[18526, 18569, 12288, 17092, 11307]

### 1.2 Lists met verschillende types

- Pas fl_sp aan door de plaatsnamen toe te voegen aan de list. Zet iedere plaatsnaam op de juiste wijze voor de betreffende winkeloppervlakte. 
- print fl_sp.

In [2]:
fl_sp.insert(0, "Swinton")
fl_sp.insert(2, "stamford")
fl_sp.insert(4, "skipton")
fl_sp.insert(6, "stratton")
fl_sp.insert(8, "shepperton")

print(fl_sp)

['Swinton', 18526, 'stamford', 18569, 'skipton', 12288, 'stratton', 17092, 'shepperton', 11307]

### 1.3 Lists binnen lists
- Pas fl_sp zodanig aan dat het bestaat uit verschillende lists. Iedere sub-list is een combinatie van de plaatsnaam en de betreffende vloeroppervlakte.
- Print fl_sp.

In [3]:
fl_sp = [['Swinton', 18526], ['stamford', 18569], ['skipton', 12288], ['stratton', 17092], ['shepperton', 11307]]
print(fl_sp)

[['Swinton', 18526], ['stamford', 18569], ['skipton', 12288], ['stratton', 17092], ['shepperton', 11307]]

- Welke manier van het opzetten van de list is het beste? Waarom?

Antwoord: 
De sub-list methode is het beste omdat dan de bij elkaar horende elementen zichtbaar worden gegroepeerd door de haakjes. Anders zou alleen de volgorde kunnen aanduiden welke elementen bij elkaar horen. Dat is onduidelijk en foutgevoelig.

## 2 Selecteren van elementen

### 2.1 selecteren van 1 element

- Voer de code in onderstaande cel uit om de list fl_sp op te zetten.

In [4]:
fl_sp = ['swinton', 18526, 'stamford', 18569, 'skipton', 12288, 'stratton', 17092, 'shepperton', 11307]
print(fl_sp)

['swinton', 18526, 'stamford', 18569, 'skipton', 12288, 'stratton', 17092, 'shepperton', 11307]

- Print de volgende elementen van fl_sp (hint: houd rekening met "zero-indexing"):
    - Het derde element
    - Het eerste element
    - Het laatste element
    - Het op 1 na laatste element

In [5]:
print(fl_sp[2])
print(fl_sp[0])
print(fl_sp[-1])
print(fl_sp[-2])

stamford
swinton
11307
shepperton

- Bereken de gemiddelde winkeloppervlakte en wijs het resultaat toe aan de variable avg.
- Print de gemiddelde winkeloppervlakte.

In [6]:
avg = (fl_sp[1] + fl_sp[3] + fl_sp[5] + fl_sp[7] + fl_sp[9]) / (len(fl_sp) / 2)
print(avg)

15556.4

### 2.2 Selecteren van meerdere elementen (slicing)

- Print de laatste 4 elementen.
- Print het derde element tot en met het zesde element.
- Print de eerste twee elementen.

In [7]:
print(fl_sp[-4:])
print(fl_sp[2:6])
print(fl_sp[:2])

['stratton', 17092, 'shepperton', 11307]
['stamford', 18569, 'skipton', 12288]
['swinton', 18526]

### 2.3 Selecteren van lists binnen lists
- Voer de code in onderstaande cel uit om de list fl_sp op te zetten.

In [8]:
fl_sp = [['swinton', swinton] , ['stamford', stamford] , ['skipton', skipton], ['stratton', stratton], ['shepperton', shepperton]]
print(fl_sp)

[['swinton', 18526], ['stamford', 18569], ['skipton', 12288], ['stratton', 17092], ['shepperton', 11307]]

- Print de winkeloppervlakte van Stratton op twee manieren: (1) vanaf het begin van de list en (2) vanaf het einde van de list.

In [9]:
print(fl_sp[3][1])
print(fl_sp[-2][1])

17092
17092

## 3 Manipuleren van lists
### 3.1 Vervangen, toevoegen en verwijderen van elementen

- Voer de code in onderstaande cel uit om de list fl_sp op te zetten.

In [10]:
fl_sp = ['swinton', 18526, 'stamford', 18569, 'skipton', 12288, 'stratton', 17092, 'shepperton', 11307]
print(fl_sp)

['swinton', 18526, 'stamford', 18569, 'skipton', 12288, 'stratton', 17092, 'shepperton', 11307]

- Vervang stratton door london.
- Vervang de oppervlakte van london door 25000.
- Print fl_sp.

In [11]:
fl_sp[6] = "london"
fl_sp[7] = 25000
print(fl_sp)

['swinton', 18526, 'stamford', 18569, 'skipton', 12288, 'london', 25000, 'shepperton', 11307]

- Maak een nieuwe list new_fl_sp waarin je jouw woonplaats met een realistische vloeroppervlakte toevoegt aan fl_sp.
- Print the new list.

In [12]:
new_fl_sp = fl_sp + ["Den Haag", 6000]
print(new_fl_sp)

['swinton', 18526, 'stamford', 18569, 'skipton', 12288, 'london', 25000, 'shepperton', 11307, 'Den Haag', 6000]

- Verwijder shepperton en de bijbehorende oppervlakte uit new_fl_sp.

In [13]:
del new_fl_sp[-4:-2]
print(new_fl_sp)

['swinton', 18526, 'stamford', 18569, 'skipton', 12288, 'london', 25000, 'Den Haag', 6000]

Onderstaande cel bevat code waarin new_list wordt aangemaakt die gelijk is aan new_fl_sp. Zodra het laatste element van new_list wordt verwijderd dan wordt het laatse element van new_fl_sp ook verwijderd. 

- Pas de code zodanig aan dat als een van de lists wordt aangepast de andere list NIET verandert.

In [14]:
#original
new_list1 = new_fl_sp.copy()
del(new_list1[-1])
print(new_fl_sp)

['swinton', 18526, 'stamford', 18569, 'skipton', 12288, 'london', 25000, 'Den Haag', 6000]

## 4 Integratie opdracht
Onlangs zijn de volgende winkels met de betreffende oppervlaktes geopend:

- sandbach: 15738
- stone: 17242
- sedbergh: 11198

Opdracht:
- Voeg deze 3 winkels toe aan fl_sp.
- Print de gemiddelde oppervlakte van deze 3 nieuwe winkels.
- Maak een nieuwe list die hetzelde is als fl_sp. Als de nieuwe list wijzigt dan mag de andere list NIET veranderen.
- Verander in de NIEUWE list de oppervlakte van stamford in 21000. 
- Print de nieuwe list.
- Print de volgende zin waarbij je gebruik maakt van list elements: "stamford has a floor space of 18569 sqm".

In [15]:
# adding 3 stores:
fl_sp.extend(("sandbach", 15738, "stone", 17242, "sedbergh", 11198))
print(fl_sp)
# calculate average:
print((fl_sp[-5] + fl_sp[-3] + fl_sp[-1]) / 3, "\n")

# create new list:
fl_sp_copy = fl_sp.copy()

# Change floor space:
fl_sp_copy[3] = 21000
print(fl_sp_copy, "\n")
# Print sentence
print(fl_sp[2] + " has a floor space of " + str(fl_sp[3]) + " sqm")

['swinton', 18526, 'stamford', 18569, 'skipton', 12288, 'london', 25000, 'shepperton', 11307, 'sandbach', 15738, 'stone', 17242, 'sedbergh', 11198]
14726.0

['swinton', 18526, 'stamford', 21000, 'skipton', 12288, 'london', 25000, 'shepperton', 11307, 'sandbach', 15738, 'stone', 17242, 'sedbergh', 11198]

stamford has a floor space of 18569 sqm