# Toolbox part one 2 
- Scope
- default arguments 
- variable lenght arguments

## 11.1 Global & local scope
- Voer onderstaande cel uit.

In [10]:
result = 100

def mult(x,y):
    result = x * y
    return result

mult(2,3)
print(result)

100

- Verander de definitie van de functie zodanig dat het printen van result de uitkomst van de functie weergeeft.

In [14]:
result = 100

def mult(x,y):
    global result
    result = x * y

mult(2,3)
print(result)

6

## 11.2 Nested functions
- Definieer een 'nested function' met 3 parameters
- De 'innner function' telt 10 op bij iedere parameter.
- Pas 1,2,3 toe als parameters en print het resultaat van de functie. Het juiste resultaat is (11,12,13).

In [3]:
def outer(x, y, z):
    def inner (x1):
        return (x1 +10)
    return(inner(x), inner(y), inner(z))
print(outer(1, 2 ,3))

(11, 12, 13)

## 11.3 Closure
Verander onderstaande cel zodanig dat het gegeven "print statement" 36 en 216 print
- 36 = 6 tot de 2e macht
- 216 = 6 tot de 3e macht

Deze opdracht is gebaseerd op:

- Python Data Science Toolbox (part 1).
- Chapter: Default arguments, variable length arguments and scope
- Exercise: Nested Functions I.

In [4]:
def power(n):
    def inner(number):
        result = number ** n
        return result
    return inner

power_of_2 = power(2)
power_of_3 = power(3)
print(power_of_2(6), 'and', power_of_3(6))

36 and 216

- Leg het begrip closure uit in de context van bovenstaande functie

In [5]:
print("Alles wat in de outer functie wordt gedefinieerd wordt opgeslagen in de closure en is beschikbaar voor de inner functie.")

Alles wat in de outer functie wordt gedefinieerd wordt opgeslagen in de closure en is beschikbaar voor de inner functie.

## 11.4 Local vs nonlocal
Er zit een fout in onderstaande functie. Pas de functie aan zodat de functie werkt zoals hij bedoeld is. Het gewenste resultaat is:
- De parameter n wordt eerst verdubbeld in de outer functie en daarna weer verdubbeld in de innner functie.
- Voorbeeld: double_double(5) moet als uitkomst 20 hebben.

In [6]:
def double_double(n):
    double = n * 2
    def inner():
        nonlocal double
        double = double * 2
        return double
    return inner()
print(double_double(5))

20

## 11.5 Default arguments

- Definieer een functie met 2 parameters. De eerste parameter is een getal en de tweede parameter geeft aan tot welke macht het getal wordt geheven. Als de tweede parameter 3 is dan wordt het getal geheven tot de derde macht.
- De 'default' instelling is dat er wordt geheven tot de tweede macht.
- Print het resultaat van je functie als de 'default' instellingen worden toegepast op het getal 3.
- Print het resultaat van je functie waarmee je 3 tot de 5e macht uitvoert.

In [52]:
def func(number, power = 2):
    return number ** power

func(3)
func(3, 5)

243

- Kopieer en hernoem de functie van de vorige opdracht. 
- De nieuwe functie krijgt een derde parameter. Als de waarde van deze parameter True is, dan dient de uitkomst van de functie een integer te zijn.
- De default instelling van de integer-parameter is False.
- Print het resultaat van de functie met de standaard instellingen en het getal 3.219
- Print het resultaat van de functie als de integer-parameter op True staat.

In [65]:
def integer(number, power = 2, integer = False):
    if integer:
        return int(number ** power)
    else:
        return number ** power
integer(3.219, power = 5)

345.624788929212

In [8]:
def fact2(number, power = 2, IsInt = False):
    if IsInt:
        return int(number ** power)
    else:
        return number ** power

print(fact2(3.219))
print(fact2(3.219, IsInt = True))

10.361960999999999
10

## 11.6 Flexible arguments

- Maak een args functie die alle getallen die je als parameter ingeeft bij elkaar optelt.
- Print het resultaat van de functie waarbij je de volgende getallen gebruikt: 1, 3, 5, 8, 7.29

In [67]:
def add(*args):
    return sum(args)

In [69]:
add(1, 3, 5, 8, 7.29)

24.29

In [9]:
def add_all(*args):
    sum = 0
    for i in args:
        sum += i
    return sum

add_all(2, 3)

5

- Definieer een kwargs functie.
- Deze functie berekent het kortingsbedrag per klant.
- De meeste klanten krijgen geen korting. Alleen john en viola krijgen een korting van respectievelijk 5% en 7%.
- De argumenten (function arguments) hebben de volgende structuur: naam = orderbedrag. Voorbeeld: als John voor 1000 Euro bestelt dan is het 'function argument': john=1000.
- Het kortingsbedrag is het orderbedrag maal het kortingspercentage.

-  Pas de functie in onderstaande cel aan zodat het volgende wordt geprint:

john gets a discount of 50.0  
viola gets a discount of 140.0  
your_name gets a discount of 0

In [10]:
def cust_dis(**kwargs):
    for i, j in kwargs.items():
        if i == "john":
            print(i + " gets a discount of " + str(j * 0.05))
        elif i == "viola":
            print(i + " gets a discount of " + str(j * 0.07))
        else:
            print(i + " gets a discount of 0")

        
cust_dis(john=1000, viola=2000, your_name=1000)

john gets a discount of 50.0
viola gets a discount of 140.0
your_name gets a discount of 0

## 11.7 Integratie
- Voer onderstaande cel uit om het storedata dataframe aan te maken.

In [11]:
#Importing uncleaned storedata into storedata
import pandas as pd
import numpy as np
storedata = pd.read_csv('storedata.csv', encoding = "ISO-8859-1",sep=",",index_col=2)
storedata.rename(columns={'Profit': 'Turnover'}, inplace=True)

In de volgende cel vind je de functie die het aantal unieke waardes telt in de kolommen van een dataframe. Dit is dezelfde functie als die je in een eerdere les hebt gemaakt.

- Maak storedata en 'Staff' de default parameters van deze functie
- Test de functie door check() uit te voeren

In [12]:
def check(df = storedata, name = "Staff") :
    col = df[name]
    count_values = {}
    for value in col:
        if value in count_values:
            count_values[value] = count_values[value] + 1
        else:
            count_values[value] = 1
    print(col.name, count_values)
check()

Staff {9: 28, 8: 18, -2: 1, 7: 29, 5: 29, 6: 29, 300: 1, 600: 1}

- Kopieer de code van bovenstaande cel in de onderstaande cel. Verander de functie in een args functie die het mogelijk maakt om meerdere kolomnamen in te voeren.

- Het uitvoeren van check(storedata, 'Staff', 'Car park') zorg ervoor dat de kolomnaam wordt afgedrukt en de dictionary met de unieke waardes:
    - Staff {9: 28, 8: 18, -2: 1, 7: 29, 5: 29, 6: 29, 300: 1, 600: 1}
    - Car park {'Yes': 94, 'No': 35, 'Y': 4, 'N': 3}

In [13]:
def check(df, *args) :
    for i in args:
        col = df[i]
        count_values = {}
        for value in col:
            if value in count_values:
                count_values[value] = count_values[value] + 1
            else:
                count_values[value] = 1
        print(col.name, count_values)
check(storedata, 'Staff', 'Car park')

Staff {9: 28, 8: 18, -2: 1, 7: 29, 5: 29, 6: 29, 300: 1, 600: 1}
Car park {'Yes': 94, 'No': 35, 'Y': 4, 'N': 3}