# Python toolbox part one 3
- Lambda functies
- foutafhandeling

## 12.1 Lambda basis

- De functie in onderstaande cel vermenigvuldigt de x parameter met de y parameter.
- Maak een Lambda functie die hetzelfde doet.
- Print het resultaat van de lambda functie

In [1]:
def mult(x,y):
    result = x * y
    return result
example = mult(3,5)
print(example)

mult2 = lambda x, y: x * y
print(mult2(2, 3))

15
6

## 12.2 Map() en lambda
- De GBP/EUR wisselkoers is 1.2
- gbp_amounts is een list met daarin bedragen in GBP (Britse Ponden)
- Maak een list waarin je de GBP bedragen omrekent naar EUR waarbij je gebruik maakt van map() en lambda.

In [2]:
gbp_eur = 1.2
gbp_amounts = [25, 50, 75, 100, 125]
eur_amounts = map(lambda x: x * gbp_eur, gbp_amounts)
list(eur_amounts)

[30.0, 60.0, 90.0, 120.0, 150.0]

## 12.3 Filter() en lambda 
- Print een list met daarin alleen de even nummers uit gbp_amounts. Maak darvoor gebruik van filter() en een lambda functie. 
- Hint: pas de modulo operator toe om te bepalen of het een even getal is.

In [3]:
gbp_amounts = [25, 50, 75, 100, 125]

gbp_even = filter(lambda x: x % 2 == 0, gbp_amounts)

print(list(gbp_even))

[50, 100]

## 12.4 Reduce() en lambda functies
- Print de totale som van de bedragen in gbp_amounts. Maak hierbij gebruik van reduce() en een lambda functie.

In [105]:
from functools import reduce
gbp_amounts = [25, 50, 75, 100, 125]

gbp_total = reduce(lambda x, y: x + y, gbp_amounts)

print(gbp_total)

375

## 12.5 Foutmeldingen
- Voer onderstaande cel uit om het storedata dataframe aan te maken.

In [79]:
#Importing uncleaned storedata into storedata
import pandas as pd
import numpy as np
storedata = pd.read_csv('storedata.csv', encoding = "ISO-8859-1",sep=",",index_col=2)
storedata.rename(columns={'Profit': 'Turnover'}, inplace=True)

print(list(storedata.columns))

['Town', 'Country', 'Manager name', 'Staff', 'Floor Space', 'Window', 'Car park', 'Demographic score', 'Location', '40min population', '30 min population', '20 min population', '10 min population', 'Store age', 'Clearance space', 'Competition number', 'Competition score', 'Turnover', 'Performance']

### 12.5.1 Try en except
In onderstaande cel vind je weer de functie waarmee je het aantal unieke waardes in een kolom telt.
- Voeg 'try & excecpt' foutafhandeling toe, waarbij de volgende melding wordt geprint als de kolomnaam niet bestaat:


Only use column names: ['Town', 'Country', 'Manager name', 'Staff', 'Floor Space', 'Window', 'Car park', 'Demographic score', 'Location', '40min population', '30 min population', '20 min population', '10 min population', 'Store age', 'Clearance space', 'Competition number', 'Competition score', 'Turnover', 'Performance']

Hint: in bovenstaande cel vind je hoe je de kolomnamen kunt bepalen.

In [83]:
def check(df, column):
    try:
        return len(set(df[column]))
    except:
        print(f"Only use column names: {df.columns}")

In [86]:
check(storedata, "Staff")

8

In [89]:
def check(df,name) :
    try:
        col = df[name]
        count_values = {}
        for value in col:
            if value in count_values:
                count_values[value] = count_values[value] + 1
            else:
                count_values[value] = 1
        return count_values
    except:
        print("Only use column names: \n" + str(list(storedata.columns)))

check(storedata, "Stafff")

Only use column names:
['Town', 'Country', 'Manager name', 'Staff', 'Floor Space', 'Window', 'Car park', 'Demographic score', 'Location', '40min population', '30 min population', '20 min population', '10 min population', 'Store age', 'Clearance space', 'Competition number', 'Competition score', 'Turnover', 'Performance']

### 12.5.2 Raising an error

- Pas de functie opnieuw aan. Wek nu een "value error" op (raise an error) als de de gekozen kolomnaam niet bestaat. Zorg ervoor dat de volgende tekst wordt getoond:

Only use column names: ['Town', 'Country', 'Manager name', 'Staff', 'Floor Space', 'Window', 'Car park', 'Demographic score', 'Location', '40min population', '30 min population', '20 min population', '10 min population', 'Store age', 'Clearance space', 'Competition number', 'Competition score', 'Turnover', 'Performance']

In [93]:
def check(df,name) :
    if name not in df.columns:
        raise ValueError("Only use column names: " + str(list(storedata.columns)))
    
    col = df[name]
    count_values = {}
    for value in col:
        if value in count_values:
            count_values[value] = count_values[value] + 1
        else:
            count_values[value] = 1
    return count_values

check(storedata, "Stafdf")

ValueError: Only use column names: ['Town', 'Country', 'Manager name', 'Staff', 'Floor Space', 'Window', 'Car park', 'Demographic score', 'Location', '40min population', '30 min population', '20 min population', '10 min population', 'Store age', 'Clearance space', 'Competition number', 'Competition score', 'Turnover', 'Performance']

## 12.6 Integratie

- Gebruik filter(lambda) om een list met omzetten uit storedata['Turnover'] te filteren met daarin alleen de bedragen die groter zijn dan 3000000.
- Print de list en het aantal elementen in de list

In [94]:
turnover_high = list(filter(lambda x: x > 3000000, storedata["Turnover"]))
print(turnover_high, "\n\nHet aantal elementen in de list:", len(turnover_high))

[3410865, 4034051, 3058134, 3345936, 3117205, 3153278, 3056804, 3797953, 3138911, 3321899, 3640627, 3075352, 3491993, 3252148, 3041618, 3737466, 4217291, 3516397, 3957233, 4253984, 4185306, 4160531, 3100521, 3246954, 3741911, 4137224, 3572475, 3121837, 4176642, 4300537, 3758014, 3032277, 3625088, 3336417, 3175101, 4587304, 3029751, 3418735, 3197934, 3135133, 3822904, 3524409, 3709026, 3337861, 3260276, 4237135, 3007050, 4018966, 3817558, 4793593, 3192066, 3092180, 3606536, 3304795, 3663843, 3965957, 3487542, 3102538, 3895318, 3741407, 3654694, 3598894, 3444876, 3891535, 3498966, 3501093, 3774401, 3584813, 3485295]

Het aantal elementen in de list: 69

In [99]:
turnover_high = storedata[storedata["Turnover"] > 3000000]["Turnover"]
print(turnover_high, "\n\nHet aantal elementen in de list:", len(turnover_high))

Store ID
1437     3410865
1544     4034051
2309     3058134
4214     3345936
4857     3117205
          ...
92341    3498966
93212    3501093
93991    3774401
95915    3584813
99854    3485295
Name: Turnover, Length: 69, dtype: int64

Het aantal elementen in de list: 69